<div style="overflow-y: auto; height: 450px;">
    <p class="card-text" *ngFor="let message of messages">
        <span class="text-primary"> {{message.from}}:</span>
        <span class="ml-1" *ngIf="!message.audio"> {{message.content}}</span>
        <span class="ml-1" *ngIf="message.audio">
            <button style="padding: 10px 20px; font-size: 16px; cursor: pointer; background-color: #4CAF50; color: white; border: none; border-radius: 5px;" (click)="playAudio(message.audio)">Play Audio</button>
                
            </span>
        <br>
        <span class="ml-1 text-muted">Sent at {{ message.time | date: 'medium' }}</span>
        <br>
        <span class="ml-1 text-muted" *ngIf="this.messageIsSeen(message)">Seen</span>
    </p>
    
</div>
